### Type casting with pandas

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('Car_sales.csv')
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,12/21/2012,134.390975
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21.0,6/13/2011,125.273876
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,177.4,3.250,16.4,26.0,4/24/2011,78.280731
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17.0,3/6/2012,90.211700
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,189.4,3.823,21.1,25.0,7/12/2011,98.249737
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,202.5,3.590,17.5,24.0,5/18/2011,82.661356
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
58,Honda,Accord,230.902,13.210,Passenger,15.350,2.3,135.0,106.9,70.3,188.8,2.932,17.1,27.0,5/20/2012,54.269548
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069

### Drop na

In [3]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

### Checking the contents in latest launch column

In [4]:
data.Latest_Launch.unique()

array(['2/2/2012', '6/3/2011', '3/10/2011', '10/8/2011', '8/9/2011',
       '2/27/2012', '1/29/2012', '4/4/2011', '11/2/2011', '9/3/2011',
       '3/23/2012', '7/23/2011', '2/23/2012', '11/27/2011', '9/28/2011',
       '8/17/2011', '3/19/2012', '5/24/2011', '12/22/2011', '10/23/2011',
       '5/12/2012', '9/11/2011', '4/13/2012', '1/16/2012', '11/17/2011',
       '6/6/2012', '10/6/2011', '5/8/2012', '12/12/2011', '7/1/2012',
       '10/31/2011', '8/7/2011', '3/6/2012', '1/6/2012', '7/26/2012',
       '11/25/2011', '9/1/2011', '3/31/2012', '1/31/2012', '8/20/2012',
       '12/20/2011', '9/26/2011', '4/25/2012', '2/25/2012', '9/14/2012',
       '1/14/2012', '8/16/2012', '10/21/2011', '5/20/2012', '3/21/2012',
       '10/9/2012', '2/8/2012', '9/10/2012', '11/15/2011', '6/14/2012',
       '4/15/2012', '3/4/2012', '10/5/2012', '12/10/2011', '7/9/2012',
       '5/10/2012', '3/29/2012', '8/3/2012', '6/4/2012', '4/23/2012',
       '11/24/2012', '8/28/2012', '6/29/2012', '1/17/2012', '5/18/2012',
       '12/19/2012', '9/22/2012', '7/24/2012', '2/13/2008', '10/20/2009',
       '4/24/2011', '7/12/2011', '6/13/2011', '3/17/2011', '8/31/2011',
       '8/2/2011', '5/6/2011', '3/7/2011', '9/25/2011', '5/31/2011',
       '2/18/2011', '9/21/2011', '6/25/2011', '4/26/2011', '11/14/2011',
       '1/25/2012', '11/26/2012', '6/16/2012', '10/15/2012', '5/18/2011',
       '2/19/2012', '12/21/2012', '7/11/2011', '3/16/2011', '1/15/2011',
       '4/11/2011', '2/10/2011', '12/29/2012', '8/1/2011', '1/24/2011',
       '8/27/2011', '10/30/2012', '4/1/2011'], dtype=object)

### Change its dtype into datetime

In [5]:
data['Latest_Launch']=pd.to_datetime(data.Latest_Launch)

In [6]:
data.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703

### Check the dtype of it:

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 15.5+ KB

### We can see that it have changed to datetime 64[ns] format

### Extracting year,month,date from the Latest_launch column

In [8]:
data['Year']=pd.DatetimeIndex(data.Latest_Launch).year

In [9]:
data['month']=pd.DatetimeIndex(data.Latest_Launch).month

In [10]:
data['day']=pd.DatetimeIndex(data.Latest_Launch).day

In [11]:
data.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,9
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858,2012,2,27
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069,2012,1,29
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724,2011,4,4
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451,2011,11,2
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703,2011,9,3

### Lets convert the data type of Fuel efficiency into integer

In [12]:
data.Fuel_efficiency=data.Fuel_efficiency.astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  month                117 non-null    int64
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

### Converting the numerical column into categorical column

#### Lets convert the month numbers to their corresponding names

In [13]:
data.month.replace({
    1:'January',
    2:'February',
    3:'March',
    4:'April',
    5:'May',
    6:'June',
    7:'July',
    8:'August',
    9:'September',
    10:'October',
    11:'November',
    12:'December',
},inplace=True)

In [14]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,month,day
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25,2011-04-04,83.998724,2011,April,4
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,October,30
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,177.1,4.125,21.1,20,2011-03-17,139.982294,2011,March,17
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24,2012-01-16,65.957184,2012,January,16
124,Porsche,Boxter,8.982,41.250,Passenger,41.430,2.7,217.0,95.2,70.1,171.0,2.778,17.0,22,2012-02-19,93.437331,2012,February,19
26,Chevrolet,Metro,21.855,5.160,Passenger,9.235,1.0,55.0,93.1,62.6,149.4,1.895,10.3,45,2012-04-13,23.276272,2012,April,13
145,Volkswagen,Golf,9.761,11.425,Passenger,14.900,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,January,24
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,184.6,2.769,15.0,25,2012-08-20,67.351011,2012,August,20
144,Toyota,Land Cruiser,9.835,34.080,Car,51.728,4.7,230.0,112.2,76.4,192.5,5.115,25.4,15,2011-09-25,102.528984,2011,September,25
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,178.2,3.857,21.1,19,2012-10-09,83.602501,2012,October,9

### Label encoder

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le=LabelEncoder()

In [17]:
data["le_Vehicle"]=le.fit_transform(data.Vehicle_type)

In [18]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,month,day,le_Vehicle
139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31,2012-12-29,56.496030,2012,December,29,1
103,Nissan,Maxima,79.853,15.125,Passenger,26.249,3.0,222.0,108.3,70.3,190.5,3.294,18.5,25,2011-05-06,89.427820,2011,May,6,1
21,Chevrolet,Lumina,24.629,10.310,Passenger,18.890,3.1,175.0,107.5,72.5,200.9,3.330,16.6,25,2011-05-24,69.991396,2011,May,24,1
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.567,12.5,29,2011-12-12,52.084899,2011,December,12,1
37,Dodge,Stratus,71.186,10.185,Passenger,20.230,2.5,168.0,108.0,71.0,186.0,3.058,16.0,24,2011-10-31,67.876108,2011,October,31,1
87,Mercury,Cougar,26.529,13.890,Passenger,16.540,2.0,125.0,106.4,69.6,185.0,2.892,16.0,30,2012-02-23,51.113474,2012,February,23,1
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,177.4,3.250,16.4,26,2011-04-24,78.280731,2011,April,24,1
129,Saturn,SL,80.620,9.200,Passenger,10.685,1.9,100.0,102.4,66.4,176.9,2.332,12.1,33,2012-08-16,39.986425,2012,August,16,1
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,194.1,3.443,19.0,22,2012-08-28,84.830779,2012,August,28,1
65,Infiniti,I30,23.713,19.690,Passenger,29.465,3.0,227.0,108.3,70.2,193.7,3.342,18.5,25,2012-04-15,92.436889,2012,April,15,1

In [19]:
data['le_Manufacturer']=le.fit_transform(data.Manufacturer)

In [20]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,month,day,le_Vehicle,le_Manufacturer
118,Pontiac,Sunfire,51.645,13.790,Passenger,21.610,2.4,150.0,104.1,68.4,...,2.906,15.0,27,2012-01-25,62.015870,2012,January,25,1,21
31,Chrysler,Cirrus,32.306,12.640,Passenger,16.480,2.0,132.0,108.0,71.0,...,2.911,16.0,27,2011-10-06,53.566200,2011,October,6,1,6
119,Pontiac,Grand Am,131.097,10.290,Passenger,19.720,3.4,175.0,107.0,70.4,...,3.091,15.2,25,2012-11-26,70.389737,2012,November,26,1,21
51,Ford,Crown Victoria,63.403,14.210,Passenger,22.195,4.6,200.0,114.7,78.2,...,3.908,19.0,21,2011-09-26,80.499537,2011,September,26,1,8
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,3.948,25.0,22,2011-06-25,76.096570,2011,June,25,0,19
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,...,2.339,11.9,32,2011-10-21,42.879097,2011,October,21,1,9
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,...,3.032,17.0,21,2012-12-21,134.390975,2012,December,21,1,22
88,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,...,3.379,16.0,24,2012-09-22,62.239967,2012,September,22,1,16
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,...,3.761,26.0,21,2012-02-25,62.095048,2012,February,25,0,8
69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,...,3.880,20.5,19,2011-12-10,80.387779,2011,December,10,0,12

In [21]:
data['le_Model']=le.fit_transform(data.Model)

In [22]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,month,day,le_Vehicle,le_Manufacturer,le_Model
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,...,18.0,22,2011-03-10,91.389779,2011,March,10,1,0,88
104,Nissan,Quest,27.308,15.380,Car,26.399,3.3,170.0,112.2,74.9,...,20.0,21,2011-03-07,71.171664,2011,March,7,0,18,86
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,...,17.5,23,2011-09-03,95.636703,2011,September,3,1,3,93
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,...,19.0,22,2011-11-27,113.765874,2011,November,27,1,4,47
136,Toyota,Corolla,142.535,10.025,Passenger,13.108,1.8,120.0,97.0,66.7,...,13.2,33,2011-04-11,47.968972,2011,April,11,1,24,35
102,Nissan,Altima,88.094,11.295,Passenger,20.390,2.4,155.0,103.1,69.1,...,15.9,25,2011-08-02,63.313728,2011,August,2,1,18,9
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,...,26.0,17,2012-03-06,90.211700,2012,March,6,0,7,89
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,...,17.0,23,2011-07-11,135.914710,2011,July,11,1,22,23
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,...,19.0,21,2012-06-04,93.957917,2012,June,4,1,14,110
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,...,13.7,26,2011-05-31,48.907372,2011,May,31,1,25,19

In [23]:
import seaborn as sns